.featured-article > .panel-heading {
  background-color: #CFF2E1;
}

.featured-article {
  background-color: #F5FFFA;
  height: 100%;
}

.news > .panel-heading {
  background-color: #CFDFF1;
}

.news {
  background-color: #F5FAFF;
  height: 100%;
}

.featured-picture > .panel-heading {
  background-color: #DDCFF1;
}

.featured-picture > .panel-body {
  background-color: #FAF5FF;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
