.featured-article > .panel-heading {
  background-color: #CFF2E1;
}

.featured-article {
  background-color: #F5FFFA;
  height: 100%;
}

.news > .panel-heading {
  background-color: #CFDFF1;
}

.news {
  background-color: #F5FAFF;
  height: 100%;
}

.featured-picture > .panel-heading {
  background-color: #DDCFF1;
}

.featured-picture > .panel-body {
  background-color: #FAF5FF;
}
/*https://jsbin.com/qoxofa/1/edit?html,css,output*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
}

.wiki {
  display: block;
  width: 10em;
  height: 160px;
  background-repeat:no-repeat;
  background-position:center center;
  text-decoration: none;
}
