/*.panel-default > .panel-heading-custom {
  background: pink;
}*/

/*.panel > .panel-heading {
  background-color: #CFF2E1;
}

.panel > .panel-body {
  background-color: #F5FFFA;
}*/

.featured > .panel-heading {
  background-color: #CFF2E1;
}

.featured > .panel-body {
  background-color: #F5FFFA;
}

.news > .panel-heading {
  background-color: #CFDFF1;
}

.news > .panel-body {
  background-color: #F5FAFF;
}

/*#EDF7F2
#F5FFFA*/
